@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Quicksand", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .btn-light-sm {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-md bg-white hover:bg-white/70 hover:text-black px-6 py-2.5 text-sm text-black cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
  .btn-light-base {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-md bg-white hover:bg-white/70 hover:text-black px-8 py-3 text-sm text-black cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-dark-base {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold border-2 border-black/15 bg-gray-900 hover:bg-black px-8 py-3 text-sm text-white cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
}
